nav{
	margin: 0px; 
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,.3); 
}
nav ul>li{
	display: inline; 

}

nav ul a{
	padding: 1rem;
	color: black; 
	text-decoration: none; 
}
nav ul a.active,nav ul a:active{
	border-bottom: 2px solid blue;
	background: rgba(0,0,0,.05);  
}
nav ul a:hover{
	background: rgba(0,0,0,.1); 
}

nav>#nav{
	padding: 1rem;
	background: white; 
	
	margin: 0px; 
}
nav>#nav ul{
	text-align: right;
	display: inline-block; 
}