
<html>
<head>
  <link rel="stylesheet" href="/public/css/bviewidea.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
</head>

<body >
  {{template "sidebarr.html"}}
  <div class="main">
            <div  style="margin: 100px;" class="container">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto">
        	           <div class="profile">
	                        <div>
	                            <img src="/public/image/saad.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
	                        </div>
	                        <div class="name">
	                            <h3 class="title">user name:<br>Followers</h3>
								          
								                <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
	                        </div>
	                    </div>
    	            </div>
                </div>
                <div class="row" id="title">
                  <h3>Title:</h3>
                  <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora assumenda sit quidem. Quos error laudantium nostrum eius adipisci dolorum a quas. Ipsa culpa perspiciatis quaerat itaque et voluptates iste placeat.</p> 
                </div>
                <div class="row">
                  <h4>Description</h4>
                  <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora assumenda sit quidem. Quos error laudantium nostrum eius adipisci dolorum a quas. Ipsa culpa perspiciatis quaerat itaque et voluptates iste placeat.</p> 
                  <!--<p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora assumenda sit quidem. Quos error laudantium nostrum eius adipisci dolorum a quas. Ipsa culpa perspiciatis quaerat itaque et voluptates iste placeat.</p> -->

                </div>
                <div class="row">
                  <div class="col-sm-2"><a href="#" class="btn btn-info" role="button">file</a></div>            
                  <div class="col-sm-2">
                    <a href="#" id="trigger">Pdf file</a>
                    <div id="dialog" style="display:none">
                      <div>
                      <iframe src="#pablo"></iframe>
                      </div>
                    </div>
                  </div>
 
                </div>
                <div class="row">
                  <div class="col-sm-2"><img src="/public/image/is.png" class="rounded float-left" alt="Image-one"></div>
                  <div class="col-sm-2"><img src="/public/image/is.png" class="rounded float-right" alt="image-two"></div>
               </div>
               <br>
               <div class="row">
                <div class="col-sm-2">
                    <div class="raised-block">
                        <p>X votes</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="raised-block">
                        <p>Y comments</p>
                    </div>
                </div>
            </div>
            <form>
                <div class="row">
                  <button type="button" class="btn btn-primary active">Vote</button>
                </div>

                      <div class="md-form amber-textarea active-amber-textarea">
                        <i class="fas fa-pencil-alt prefix"></i>
                        <textarea id="form22" class="md-textarea form-control" rows="3" placeholder="Write something here"></textarea>                 
                    </div>
                <div class="commentbtn">
                  <button type="button" class="btn btn-primary active">Comment</button>
                </div>
              </form>
             </form> 
            </div>  
</body >
</html>
