<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
        <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="../public/bootstrap/css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="../public/css/chatlistN.css">
		<link rel="stylesheet" href="../public/fontawesome/fontawesome-free-5.8.2-web/css/all.css">
	</head>
    
    
   
	<body>
		<div class="container-fluid h-100">
			<div class="row  h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
				
					
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="../public/image/profile.png" class="rounded-circle user_img">
									<span class="online_icon offline"></span>
								</div>
								<div class="user_info">
									<span>{{.username}}</span>
									<p>{{.message}}</p>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="../public/image/profile.png" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>{{.username}}</span>
									<p>{{.message}}</p>
								</div>
							</div>
						</li>
						
                        <li>
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="../public/image/profile.png" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>{{.username}}</span>
									<p>{{.message}}</p>
								</div>
							</div>
                        </li>
                        <li>
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="../public/image/profile.png" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>{{.username}}</span>
									<p>{{.message}}</p>
								</div>
							</div>
                        </li>
                        <li>
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="../public/image/profile.png" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>{{.username}}</span>
									<p>{{.message}}</p>
								</div>
							</div>
						</li>
						</ui>
					</div>
					<div class="card-footer"></div>
				</div></div>
				
		<script src="../public/js/jquery.js"></script>
		<script src="../public/fontawesome/fontawesome-free-5.8.2-web/js/all.js"></script>
        <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    
	</body>
</html>
