<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Idea</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper-js/1.12.9/umd/popper.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <link href="../public/css/createIdea.css" rel="stylesheet" type="text/css" />
   
   <style>
   
.js-addfileupload {
  margin: 15px 0;
}

.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 99;
}
   
   </style>
   
   
   <script>
        var fileCount =1;
    
        function addOther(){
            console.log("inside Me ");
    var fileList = document.getElementById("files");
    var item = document.createElement("input");
    item.setAttribute("type" , "file");
    item.setAttribute("class" , "form-controll");
    item.setAttribute("class" , "form-controll");
    item.setAttribute("placeholder" , "attach another  file here");
    item.setAttribute("name" , "files");
    fileCount++;
    fileList.appendChild(item);


console.log("inside the method ");
}

// $(function() {
//   // Load the plugin
//   console.log("inside Me ");
//   $("input[type=file]").bootstrapFileInput();
  
// 	$(".js-addfileupload").click( function (e) {
// 		e.preventDefault(e);
//     // Create unique ID for the element
//     var elid = new Date().getTime();
//     // Assign the id and call the plugin
// 		$("#file").append("<input type=\"file\" id=\"js-file-" + elid + "\" name=\"attachments[]\" class=\"form-control\" accept=\"image/*\">");
//    	$("#js-file-" + elid).bootstrapFileInput();
// 		return false;
// 	});
//  }
// );

    

        
    
    
    </script>


</head>

<body>

    <div class="model-dialog text-center">
        <div class="col-sm-6 main-section">
            <div class="model-content">

                <!-- <div class="col-12 user-img">
                    <img src="../public/image/profile.png">
                </div> -->

                <div class="col-12 form-input">
                    <form action="/idea/create/" enctype="multipart/form-data" method="POST" id="create-idea">
                        <div class="form-group">

                            <input type="text" name="title" class="form-control" placeholder="Title : Enter Your Title here ">
                        </div>
                        <div class="form-group">
                            <input type="text" name="description" class="form-control" placeholder="Description : Enter Description Of Your Idea here">
                        </div>
                        <div class="form-group" id="files" >
                                <button type="button" onclick="addOther()" width=20px height=20px class="btn btn-primary js-addfileupload">Add File</button>
                            <input type="file"  name="0" class="form-control" placeholder="Attach File here">

                        </div>
                        
                        <!--
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Visibility">
                            <input type="select" name="gender" value="Private" checked> Private<br>
                            <input type="radio" name="gender" value="Public"> Public<br>
                            <input type="radio" name="gender" value="Default"> Default
                        </div>
                        -->
                        <!-- <script>
                        
                                document.readyState(function(){
                                    onlyOne(document.getElementsById("el1"));
                                })
                                function onlyOne(checkbox) {
                                    // var ch2 =document.getElementById("el1");
                                    // var ch2 =document.getElementById("el2");
                                    // var ch2 =document.getElementById("el3");
                                    document.getElementsByName("visibility");
                                    var checkboxes = document.getElementsByName('check');
                                    checkboxes.forEach((item) => {
                                        if (item !== checkbox) {item.checked = false;}
                                    })
                                }
                                </script> -->
                        <div>
                            <lable ><strong > Visibility </strong> </lable>
                            <input type="checkbox"  id="el1" name="visibility"  value="pu" onclick="onlyOne(this)">public </input>
                            <input type="checkbox"  id="el2" name="visibility"  value="pr" onclick="onlyOne(this)">protected  </input>
                            <input type="checkbox"  id="el3" name="visibility"  value="pv" onclick="onlyOne(this)">private</input>
                        </div>


                        
                
                <button type="submit" onclick="upload()" class="btn-btn-success">Upload</button>
                </form>
            </div>
            </div>

        </div>
    </div>

    </div>
    </div>


</body>

</html>