<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Idea</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper-js/1.12.9/umd/popper.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <link href="../public/css/createIdea.css" rel="stylesheet" type="text/css" />
    <script>
    
function send(){
    var yourmess=$("#editTextSend").val();
    console.log(yourmess);
    var container=document.getElementById("messagesArray");
    
    if( $("#editTextSend").val() !=""  || $("#editTextSend").val() !==null ){
        $.ajax({
            url:"../php/messageSave.php",
            type:"POST",
            data:{"yourmess":yourmess},
            dataType:"JSON",
            success: function(data)
            {
                var sendingContainer=$("#bottmBar");
                $("#editTextSend").text("");
                if(data.result=="yes"){
                    document.getElementById("editTextSend").value = "";
                }
            },
            error:function(rt ,re){
            console.log(re);
            }
        });
    }
}
    
    </script>


</head>

<body>

    <div class="model-dialog text-center">
        <div class="col-sm-6 main-section">
            <div class="model-content">

                <!-- <div class="col-12 user-img">
                    <img src="../public/image/profile.png">
                </div> -->

                <div class="col-12 form-input">
                    <form action="/create-idea/" enctype="multipart/form-data" method="POST" id="create-idea">
                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="Title : Enter Your Title here ">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Description : Enter Description Of Your Idea here">
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control" placeholder="Attach File here">
                        </div>
                        <!--
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Visibility">
                            <input type="select" name="gender" value="Private" checked> Private<br>
                            <input type="radio" name="gender" value="Public"> Public<br>
                            <input type="radio" name="gender" value="Default"> Default
                        </div>
                        -->
                        <div class="form-group">
                            <select name="options">
                            <input type="checkbox" value="select">Select Visibility</option>
                            <option value="pv">private</option>
                            <option value="pr">protected</option>
                            <option value="pu">public</option>
                          </select>
                        </div>
                
                <button type="submit" onclick="upload()" class="btn-btn-success">Upload</button>
                </form>
            </div>
            </div>

        </div>
    </div>

    </div>
    </div>


</body>

</html>