<html>

<head>
        <link rel="icon" type="image/png" href="logo.png">
        <link  rel = "stylesheet" href = "/public/css/profile.css">
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


        <meta name="viewport" content="width=device-width, initial-scale=1">

      

</head>
<body>
    {{ template   "sidebarr.html"}}
<div class="container emp-profile">
            
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <input id="fname" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" value="{{.Username}}" readonly>
                                       
                                    </input>
                                    <h4 value>
                                        Enterprenuer
                                    </h4>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input id="editpro" type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>WORK LINK</p>
                            <a href="">Website Link</a><br/>
                            <a href="">works done</a><br/>
                            <a href="">coments</a>
                            <p>SKILLS</p>
                            <a href="">Web Designer</a><br/>
                            <a href="">Web Developer</a><br/>
                            <a href="">likes</a><br/>
                            <a href="">followers</a><br/>
                            <a href=""></a><br/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input value="{{.ID}}" readonly></input>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input id="name" value = "{{.Firstname}}" readonly></input>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>LastName</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input value="{{.Lastname}}" readonly></input>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input value="{{.Email}}" readonly></input>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Biography</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input value="{{.Biography}}" readonly> </input>
                                            </div>
                                        </div>

                                        
                                        </div>
                                        <div class="col-md-6">
                                            <input id="save" type="submit" class="profile-edit-btn" name="btnAddMore" value="save Change"/>
                                            
                            </div>
                            
            </form>           
        </div>
        <html>
            
            <script>
               // $("#save").click(function(){
                $('#save').hide();
                  
                

                $(document).ready(function(){
                $("#editpro").click(function(){
                   
                
               // $('input').prop('readonly' , false);
                $('input').attr('readonly' , false);
                $('#save').show();
                
               
            });
        });
            
                </script>
                