<html>

<head>
        <link rel="icon" type="image/png" href="logo.png">
        <link  rel = "stylesheet" href = "../public/css/index.css">

        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>

        <nav>
                <div id="nav" style="padding-top:0px; padding-left:10px">
                    <img src="logo.png" style="width: 100; height: 100;" >
                    <ul style="width:75%" >
                      <li ><a  href= "index.html">sinIn</a></li>
                      <li ><a class="active" href= "#">sineUP</a></li>
                      
                    </ul>
                </div>
                
            </nav>


            <section id="next">
                <h3>Startup Smarter</h3>
                <p>the best place to grow , think and invest</p>

                <img src="support.PNG">




            </section>

            <section id="discribe">
                <h3 > Helping founders build investable companies </h3>
                <p>Mission-critical business tools. Powerful performance benchmarks. 
                Trusted fundraising recommendations.<br> Gust supports you at every point along your entrepreneurial 
                journey so when it’s time to raise money, you have <br>the best shot at investment. Get started on the path
                 to fundraising success:  </p>




            </section>

            <section class="service">
                    <div class="row">
                            <div class="col-lg-4">
                             <label type="text" id="txt_month" name="txt_month" class="form-control input-sm"  placeholder="MM" required maxlength="2" data-validation-required-message="Month is required" >
                            </div>
                             <div class="col-lg-4">
                              <label type="text" id="txt_day" name="txt_day" class="form-control input-sm"  placeholder="DD" required maxlength="2" data-validation-required-message="Day is required" >
                            </div>
                             <div class="col-lg-4">
                              <label type="text" id="txt_year" name="txt_year" class="form-control input-sm"  placeholder="YY" required maxlength="4" data-validation-required-message="Year is required" >
                            </div>
           
                         </div>




            </section>




    </body>




</html>