<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form</title>


    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body style="background-color: goldenrod;">

    <div class="main">

        <section class="signup">
            
            <div class="container">
                <div class="signup-content">
                    <form action="/user/register/" enctype="multipart/form-data" method="POST" id="signup-form" class="signup-form">
                        <input  type="hidden"  name="CSRF"  value="{{.Token }}" >
                        <h2 class="form-title">Create account</h2>

                        <div class="form-group">
                            <input type="text" class="form-input" name="firstname" id="name" placeholder="First Name" required/>
                        </div>
                        <div class="form-group">
                                <input type="text" class="form-input" name="lastname" id="name" placeholder="Last Name" required/>
                            </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Your Email " required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="password" placeholder="username"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="re_password" placeholder="password" required/>
                        </div>

                        <div class="form-group">
                                <input type="password" class="form-input" name="coonfirm_password" id="re_password" placeholder="Confirm Password" required/>
                            </div>
                        
                          <!-- <input type="checkbox"  name="paid" placeholder="Paid Account"/>
                            
                            <div class="row">
                            <div class="form-group col-md-6 col-lg-6 col-sm-12">
                                    <input type="text" class="form-input" name="creditcard" id="creditcard" placeholder="Credit Card " required/>
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-sm-12">
                                    <input type="text" class="form-input" name="creditpassword" id="re_password" placeholder="Credit Password" required/>
                            </div>
                        </div>


                        <div class="form-group">
                            <p><Strong>Tell Us Some Thing About You </Strong></p>
                                <input type="text" class="form-input hidden" name="biography" height="50%" id="name" placeholder="Biography"/>
                            </div>--> 
                        <div class="form-group">
                            <input type="file" name="image"/>
                            </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>
                    </form>
                    <h1  style="color: red;"><strong> {{.System.Message}} </strong></h1>
                    <p class="loginhere">
                        Have already an account ? <a href="/user/signin/" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>
    

    
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="../assets/js/main.js"></script>
    
</body>

</html>