<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/css/main_side_navigation_bar_style.css">
        
<div  class="main_side_naivgation_bar col-sm-12  col-md-3 col-lg-3">
    <div class="main_navigation_controller" >

    </div>
    <div class="main_side_navigation_bar_profiles">
        <img src=""  class="img img-circle"  alt="the User Profile Picture " width="80%" height="80%">
        <h2><strong> User  </strong></h2>
    </div>
    <ul  class="main_side_naviagation_bar_unorderd_list">
        <li  class="main_side_navigation_list"><a href=""><strong>Home </strong><img src=""  height="30px"  width="100%"  ></a></li>
        <li  class="main_side_navigation_list"><a href=""><strong>Home </strong><img src=""  height="30px"  width="100%"></a></li>
        <li class="main_side_navigation_list"><a href=""><strong>Home </strong><img src=""  height="30px"  width="100%"></a></li>
        <li class="main_side_navigation_list"><a href=""><strong>Home </strong><img src=""   height="30px"  width="100%"></a></li>
        <li class="main_side_navigation_list"><a href=""><strong>Home </strong><img src="" height="30px"  width="100%" ></a></li>
        <li class="main_side_navigation_list" ><a href=""><strong>Home </strong><img src=""  height="30px"  width="100%"></a></li>
        <li  class="main_side_navigation_list"><a href=""><strong>Home </strong><img src=""  height="30px"  width="100%"></a></li>
        <li  class="main_side_navigation_list"><a href=""><strong>Home </strong><img src=""  height="30px"  width="100%"></a></li>
    </ul>

</div>
</html>